.new_example {
    input {
        display: block;
        margin: 2px;
    }
    label {
        display: block;
        margin: 2px;
    }
}

div.example-content {
    margin: 30px auto;
    width: 690px;
}