div#footer {
    height: 92px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    padding: 0 20px;
    box-shadow: 0 -3px 5px rgba(147,74,74,0.3);
    
    p {
        margin: 2px;
        padding: 0;
    }
}