ul.sidebar {
    width: 170px;
    list-style: none;
    padding-left: 0;
    display: inline-block;
    vertical-align: top;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 5px 0px rgba(147,74,74,0.3);

    li {
        min-height: 2rem;
        line-height: 2rem;
        padding: 5px 10px;
        border-bottom: 0.5px solid grey;
        
        a {
            font-size: 1.5rem;
            color: #745758;
            text-decoration: none;
            display: block;
            
            &.active {
                color: #e48080;
            }
        }

        &:last-child {
                border-bottom: none;
        }
    }
}

ul.sidebar + div.page-content {
    max-width: 690px;
    padding-left: 20px;
}

div.portrait {
    max-width: 445px;
    display: inline-block;
    margin-top: 30px;

    img {
        width: 100%;
    }
}

div.portrait + div.page-content {
    text-align: center;
    width: 445px;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

div.page-content {
    display: inline-block;
}
