ul.sidebar {
    width: 150px;
    list-style: none;
    padding-left: 0;
    display: inline-block;
    vertical-align: top;

    li {
        height: 2rem;
        line-height: 2rem;

        a {
            font-size: 1.5rem;
            color: #000000;
            text-decoration: none;

            &:visited {
                color: grey;
            }
            
            &.active {
                color: red;
            }
        }
    }
}

ul.sidebar + div.page-content {
    max-width: 690px;
}

div.page-content {
    display: inline-block;
}