<div id="header">
  <h1>W Stephen Gilbert - Indexer</h1>
  <ul id="main-menu">

    <% @links.each do |link| %>
        <li><%= link_to link.title.upcase, page_path(link), class: current_class?(page_path(link)) %></li>
    <% end %>
    <li><%= link_to 'INDEXAMPLES', root_path, class: current_class?(root_path) %></li> 

    <% if @indexpertise %>
      <li><%= link_to 'INDEXPERTISE', page_path(@indexpertise), class: current_class?(@indexpertise) %></li>
    <% end %>

    <% if current_user %>
      <li id="logout"><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>  
    <% end %>
  </ul>

</div>
